<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @gmuser_session.username %>
</p>

<p>
  <b>Password:</b>
  <%= @gmuser_session.password %>
</p>
<p>
	<b>Roll:</b>
		<%= @user_session.roll %>
<p/>

<%= link_to 'Edit', edit_gmuser_session_path(@gmuser_session) %> |
<%= link_to 'Back', gmuser_sessions_path %>
