<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @malladmin_session.username %>
</p>

<p>
  <b>Password:</b>
  <%= @malladmin_session.password %>
</p>
<p>
	<b>Roll:</b>
		<%= @malladmin_session.roll %>
<p/>

<%= link_to 'Edit', edit_malladmin_session_path(@malladmin_session) %> |
<%= link_to 'Back', malladmin_sessions_path %>
