<div style="height: 894px; overflow: scroll;">

<%= form_for(@product, :validate => true, :url => product_path + ".js", :html => {:multipart => true, :target => 'frame'} ) do |f|%>
<div>
   <%= f.label "name", "Name *" %><br/>
   <%= f.text_field :name %>
</div><br/>

<div>Choose a Retailer * &nbsp;
     <%= hidden_field_tag :id, "1" %>
     <%= select_tag "retaileradmin_id", options_from_collection_for_select(@retaileradmins, "id", "username")  %><br/>
   </div><br/>
   
   
 <div>
   <%= f.label "price", "Price *" %></br>
   <%= f.text_field :price %>
   </div><br/>
   
 <div>
     <%= f.label "image", "image *" %><br/>
     <%= f.file_field :image %>
 </div><br/>
 
 <div class="field">
    <%= f.label "description", "Description *" %><br />
    <%= f.cktext_area ("description"), :height=>'300px' %>
</div>
 
 <div>
   <%= f.label "discount", "Discount *" %></br>
   <%= f.text_field :discount %>&nbsp;%
   </div><br/>

 

  <%= ckeditor_ajax_script %>


<%= f.submit "Submit" %>
<% end %>
<iframe id='frame' name="frame" style="width:1px;height:1px; border:0px" src="about:blank"></iframe>

</div>

