<div style="height: 894px; overflow: scroll;">
<div class="right-cont-box">
  <table style="border: 1px solid #cacaca;" width="100%" align="left" cellpadding="0" cellspacing="0">
  <tbody>
    <% if @products.blank? -%>
    No Product is available in your database !!!
    <% else %>
      <tr height="30px" align="left">
      <th>ID</th>
      <th >Product Name</th>
      <th >Product Price</th>
     <%end%> 
      </tr>

    <% @products.each do |product| %>
      <tr>
        <td  ><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= link_to "Edit", edit_product_path(product), :remote => true %>&nbsp;&nbsp;&nbsp; 
        <%= link_to "Destroy", product, :remote => true, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  
     </tbody>
  </table>
 </div>

<iframe id='frame' name="frame" style="width:1px;height:1px; border:0px" src="about:blank"></iframe>
</div>
